{
  "presets": [
    [
      "env",
      {
        "modules": false
        // redux-saga fails to compile correctly when targeting modern browsers due to
        // a reassignment of a const value.
        // "targets": {
        //   "browsers": ["last 2 Chrome versions"]
        // }
        // "targets": {
        //   "browsers": ["> 1%"]
        // }
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"]
}
